body, html {
  height: 99%;
  /*width: 100%;*/
  font-family: verdana, sans-serif;
}
.container{
    width=100%;
    height=100%;
}
.fixed-left{
    width: 20%;
    min-width: 20%;
    height: 100%;
    resize: horizontal;
    overflow: auto;
    float: left;
}
.flex-item{
    /*flex-grow: 1;
    position: absolute;
    height: 100%;
    width: 100%;*/
}
#map-canvas {
    margin-left: 20%;
    height: 100%;
}
table {
  font-family: verdana, sans-serif;
  font-size: 10px;
  color: #000000;
  font-style: normal;
  font-variant: normal;
  letter-spacing: 0px;
  line-height: 15px;
  white-space: nowrap;
}

th {
  text-align: center;
  font-weight: bold;
}

td > a {
  text-decoration: none;
  color: inherit;
}

.footer {
  font-size: 10px;
  color: #A9A9A9;
  text-align: center;
  margin-top: 20px;
}

.footer > a {
  text-decoration: none;
  color: inherit;
}

.footer > a:hover {
  text-decoration: underline;
}

.filters {
  font-family: verdana, sans-serif;
  font-size: 12px;
  margin-bottom: 20px;
} 

.logged-out {
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
}

.logged-out > button {
    background-image: url('images/btn_strava_connectwith_orange.png');
    height: 48px;
    width: 193px;
    border-top: 0;
    padding-top: 0;
    border: 0;
    top: 50%;
    left: 50%;
    position: absolute;
}

.logged-out > button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.strava-powered {
    background-image: url('images/api_logo_pwrdBy_strava_horiz_light.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: calc(338px*.4);
    height: calc(63px*.4);
    right: 0px;
    bottom: 5px;
    position: absolute;
}

.popup {
    /*position: fixed;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(179, 179, 179, 0.65);
    z-index: 10;
}

.popup-content {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 25px;
    border: 2px solid #ffa706;
    background-color: white;
    padding: 15px;
    font-size: 14px;
    font-style: italic;
    text-align: justify  
}

.logged-in {
    border-radius: 8px;
    background-color: #FFFFFF;
    width: 160px;
    height: 30px;
    top: 15px;
    right: 60px;
    position: fixed;
    z-index: 5;
    padding-top: 10px;
    border-width: thin;
    border-style: solid;
    padding-left: 60px;
    background-repeat: no-repeat;
    background-size: 42px;
    font-family: verdana;
    font-size: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.disconnect {
    background-image: url(images/delete_cross.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
}

/*.slider {
    -webkit-appearance: none;
    width: 95%;
    height: 5px;
    border-radius: 5px;   
    outline: none;
    opacity: 0.7;
    background: #d3d3d3;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #ff5200;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff5200;
    cursor: pointer;
}*/
